<div class="mySeekTable">
  <el-tooltip class="item" effect="dark" content="チャプタークリックでジャンプ" placement="top" :open-delay="700">
    <el-table
      :data="getTableData()"
      style="width: 100%"
      :row-class-name="tableRowClassName"
      @row-click='changeContents'
      height="100%">
      <el-table-column
        prop="time"
        label="時間"
        width="100px">
      </el-table-column>
      <el-table-column
        prop="name"
        label="チャプター">
      </el-table-column>
    </el-table>
  </el-tooltip>
</div>
